[Unit]
Description=OpenRGB Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/openrgb --server
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
